/* 
	index.html - the index page
*/
body {
	font-size: 12px;
	font-family: 'Roboto Mono', monospace;
	margin: 0px;
	padding: 0px;
    -webkit-animation: bgcolor 20s infinite;
    animation: bgcolor 200s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
	
}

p {
	font-family: 'Open Sans', sans-serif;
}

/*Shoutout to Kahoot.it for this https://kahoot.it */
@keyframes bgcolor {
	    0% {
			background-color: #45a3e5
		}

		30% {
			background-color: #66bf39
		}

		60% {
			background-color: #eb670f
		}

		90% {
			background-color: #f35
		}

		100% {
			background-color: #864cbf
		}
}

.container {
	margin-top: 0px;
	padding-bototm: 1000px;
	width: 50%;
	height: 100%;
	margin: auto;
}

.page-header h1{
	font-size: 8em;
	text-align: center;
	margin-bottom: 10px;
	margin-top: 10px;
}


.navbar ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	width: 100%;
	border-radius: 8px;
}

.navbar li {
	font-size: 2em;
	float: left;
}

.navbar li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.active {
	background-color:#111;
}

.navbar li a:hover {
	background-color: #111;
}

.container p {
	font-size: 1.5em;
}

.container-body h2 {
	font-size: 5em;
	text-align: left;
	margin-bottom: 10px;
}

.posts {
	display: flex;
	flex-direction: column;
}

.post {
	color:white;
	display: block;
	background-color: #333;
	border-radius: 8px;
	margin-bottom: 20px;
	padding: 20px;
	box-shadow: 5px 5px 20px black;
}

.post h3 {
	font-weight: bold;
	font-size: 3em;
	margin-top: 5px;
	margin-bottom: 5px;
}
.post p {
	font-weight: italic;
	margin-top: 0px;
	margin-bottom: 5px;
}

.post time {
	font-style: oblique;
	font-size: 1.5em;
}

.post:hover {
	background-color: #111;
	box-shadow: 10px 10px 10px black;
}


.icons {
	margin-top: 20px;
	margin-bottom: 50px;
	text-align: center;
	font-size: 5em;

}

/* Animation for making the icons larger when hovered on */
@keyframes icon {
	0% {
		font-size: 60px;
	}
	25% {
		font-size: 62px;
	}
	50%{
		font-size: 64px;
	}
	75%{
		font-size: 66px;
	}
	100%{
		font-size: 68px;
	}

}

.icon:hover {
	animation-name:icon;
	animation-duration: .5s;
	animation-fill-mode: forwards;
	animation-timing-function: linear;
}

#others {
	text-align: center;
}
.icons a {
	color:black;
}

/* 
	about.html - about me!
*/
.container h2 {
	font-size: 5em;
	text-align: left;;
	margin-top: 20px;
	margin-bottom: 20px;
}

.skill-section h2 {
	text-align: center;
}

.skill-section h3 {
	font-size: 3em;
	margin-top: 10px;
	margin-bottom: 10px;
	text-decoration: underline;
	font-style: italic;
}

.langs {
	table-layout:fixed;
	padding: 20px;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 40px;
}

.langs th {
	text-align: center;
	font-weight: bold;
	font-size: 2.5em;
	text-decoration: underline;
}

.langs td {
	padding: 5px;
	text-align: center;
	font-size: 1.4em;
}

/*
 	Contact.html - email me!
*/

form {
	display:flex;
	flex-direction:column;
	width: 100%;
	justify-content: center;
}

.iField {
	margin: 10px;
	text-align:left;
	display: flex;
	flex-direction:column;
	font-size: 1.5em;
}

input {
	margin-top: 5px;
	padding: 5px;
	border-radius: 8px;
}

#description {
	resize:none;
}

#contact-button {
	width: 100px;
	height: 40px;
	background-color: #333;
	border 0;
	border-radius: 8px;
	box-shadow: 5px 5px 20px black;
	margin: auto;
}

